#footer{
  margin-top: 100px;
}
/* 푸터 css 연습 */
#footer{
  width:100%;
  border-top:1px solid #e5e5e5;
  background-color: #ccc; /*테스트용 삭제*/
}
#footer .inner{
  width:92%;
  max-width:var(--max-width, 1680px);
  margin:0 auto;
  padding:80px 0 88px; /*여백처리*/

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: start;
}
/* 설명 : #footer .inner > div{
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
} */
.bt_top{
  width: 100%;
  display: flex; /* 나란히 놓고 싶을때 사용할것. */
  justify-content: space-between;
}

@media (max-width:767px){
  .bt_top .info_left{}
}
/* 왼쪽 로고, 기본정보 */
.bt_top .info_left{}
.bt_top .info_left .bt_logo{
  margin-bottom: 30px;
  overflow: hidden;
}
.bt_top .info_left .bt_logo .bt_logo-image{
  text-indent: -99999px;
}
.bt_top .info_left .bt_logo a{
  display: flex;
  justify-content: start;
  align-items: center;
  line-height: 1;
}
.bt_top .info_left .bt_logo.bt_logo-text a{
  font-size: 30px;
  line-height: 1.6
}
/* clamp()함수 clamp(최소값, 선호값, 최대값) */
.bt_top .info_left .bt_logo a img{
  width: clamp(150px,10vw,200px);
}
.bt_top .info_left .bt_logo.bt_logo-text img{
  display: none;
}
.bt_top .info_left .bt_logo .bt_logo-image img{
  /* 로고를 회색톤으로 변경하고싶을때 사용하기 */
  filter:grayscale(60%);
}
/* 쇼핑몰 기본정보 부분. */
.bt_top .info_left ul{}
.bt_top .info_left ul .bt_company{
  margin: 0;
  font-size: 14px;
  font-weight: 600; /* 글지 굵기 */
  letter-spacing: 0.05em; /* 글자 자간 처리 하고 싶을때 */
  color: #333;
  line-height: 1.7; /* 줄간 처리 방법.*/
  position: relative; 
}
.bt_top .info_left ul .bt_company span[da-ez-role="title"]{}
#footer .bt_company .table_fold{
 display: flex;
 flex-wrap: wrap;
 max-width: 500px;
}

@media (max-width:767px){
  #footer .bt_company .table_fold{
    display: block;
  }
}
.bt_top li.bt_company .bt_info_list{}
.bt_top li.bt_company .bt_info_list li{
  
}

/* bt_top 오른쪽 영역  */
.bt_top .bt_top_fold{
  display: flex;
  /* flex-direction: row; */
}
.bt_top .bt_top_fold .table_fold strong{
  display: block;
}

@media (max-width:767px){
  .bt_top .bt_top_fold{
    flex-direction: column;
  }
}
.bt_top .bt_top_fold li{}
.bt_middle{width: 100%;}
.bt_bottom{width: 100%;}

/* 태블릿 모바일 일때 아코디언 css */

@media (max-width:1204px){
.bt_top ul > li .icon[class*="icoPlus"] {
        display: block;
        width: 12px;
        height: 22px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        font-size: 0px;
        color: #333;
        position: relative;
    }
    /* 태블렛, 모바일에서 아코디언 버튼역할을 하는 요소 카페24 스크립트랑 연결되는 요소 */
    .bt_top ul > li .bt_dummy{
      position: absolute;
      width: 100%;
      height: ;

    }

    .bt_top ul > li .icon[class*="icoPlus"]:before {
        content: '';
        position: absolute;
        left: 1px;
        top: 50%;
        width: 11px;
        height: 1px;
        background: #333;
    }

    .bt_top ul > li .icon[class*="icoPlus"]:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 1px;
        height: 11px;
        margin: -5px 0 0 0;
        background: #333;
    }

    .bt_top ul > li .icon[class*="icoPlus"].open:after {
        display: none;
      }
    }
/* 미디어별 표시 */

@media all and (max-width: 767px) {
    .RTB {
        display:none !important;
    }

    .RMB {
        display: block !important;
    }

    .RMI {
        display: inline-block !important;
    }

    .display_mobile_only {
        display: block !important;
    }

    .display_pc_only {
        display: none !important;
    }

    .main_image_text_gallery_more .main_image_text_gallery_more_btn,.more .btnMore {
        padding: 13px 35px;
        font-size: 13px;
    }

    .more .btnMore > div {
        font-size: 12px;
    }

    #header.fixed .inner .xans-layout-searchheader,.xans-layout-searchheader {
        height: auto;
        padding-bottom: 36px;
    }

    .xans-layout-searchheader .top_search_title {
        margin-top: 36px;
    }

    .xans-layout-searchheader fieldset .top_search_box {
        height: 37px;
    }

    .xans-layout-searchheader fieldset .top_search_box #keyword {
        height: 37px;
        font-size: 13px;
        padding-left: 10px;
    }

    .xans-layout-searchheader fieldset .top_search_box #keyword::placeholder {
        font-size: 13px;
    }

    .xans-layout-searchheader fieldset .top_search_box .btnSearch {
        height: 17px;
    }

    .xans-layout-searchheader fieldset .top_search_box .btnSearch svg {
        height: 100%;
    }

    .xans-layout-searchheader .xans-search-hotkeyword .hot_keyword {
        margin-bottom: 36px;
    }

    .xans-layout-searchheader .btnClose {
        top: 15px;
        right: 15px;
    }
}

@media all and (min-width: 768px) and (max-width:1024px) {
    .RMB {
        display:none !important;
    }

    .RMI {
        display: none !important;
    }

    .RTB {
        display: block !important;
    }
}

@media all and (min-width: 1025px) {
    .RMB {
        display:none !important;
    }

    .RMI {
        display: none !important;
    }

    .RTB {
        display: none !important;
    }

    .RTMI {
        display: none !important;
    }

    .RTMB {
        display: none !important;
    }
}