#footer .inner .bt_logo {
    font-size: 40px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    margin-bottom: 20px;
}
#footer .inner > div {
    flex-basis: 100%;
    justify-self: center;
    margin: auto;
}
#footer .inner .bt_util {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: row;
}
#footer .inner .bt_bottom {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* 스마트배너 - css */

.split-banner .banner-inner {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.split-banner .banner-left,
.split-banner .banner-right {
  width: 50%;
}
.split-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media (max-width: 768px) {
  .split-banner .banner-inner {
    flex-direction: column;
  }
  .split-banner .banner-left,
  .split-banner .banner-right {
    width: 100%;
  }
}

          @media screen and (min-width:1025px) {
            .mainArea {
              margin: 0;
            }

            .main--layout.mobile-ver {
              display: none;
            }

            .main--layout {
              display: grid;
              grid-template-columns: 1fr 1fr;
              border-top: 1px solid #ccc;
            }

            .pc_swiper_grid {
              height: 100vh;
            }

            .pc_swiper_grid .swiper-container {
              width: 100%;
              height: 100%;
              border-bottom: 1px solid #202020;
            }

            .pc_swiper_grid img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: top center;
            }

            .main_swiper_left {
              border-right: 1px solid #202020;
            }
          }

          @media screen and (max-width:1024px) {
            .main--layout.pc-ver {
              display: none;
            }

            .main--layout.mobile-ver {
              display: block;
            }

            .swiper-mobile .swiper-container {
              width: 100%;
              height: 100vh;
            }

            .swiper-mobile .swiper-slide {
              background-size: cover;
              background-position: top center;
              background-repeat: no-repeat;
            }
          }
